.Empresa_title {
    margin: 5rem 2rem;
}

.Empresa_title h1{
    font-size: 5rem;
}

.cardGrid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 3.5rem;
    grid-template-columns: repeat(auto-fit, 35rem);
}

@media (max-width: 850px) {
    .Empresa_title h1 {
        font-size: 3rem;
    }
}